
/*This is to line up the navigation items with page elements for style, modify at your own risk*/
#nav li {
    height: 40px;
    width: 200px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

#content {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#spacer {
    height: 150px;
}


#footer {
    height: 30px;
    position: static;
    bottom: 0;
    overflow: clip;
}

